.rounded(@val){
	border-radius: @val;
}
.boxShadow(@x, @y, @dist, @color){
	-moz-box-shadow: @x @y @dist @color;
	-webkit-box-shadow: @x @y @dist @color;
	box-shadow: @x @y @dist @color;
}

/***** CALENDAR STYLE *****/

.calendar-archives.twentytwelve{
	position:relative; // DO NOT CHANGE
	width:100%; // DO NOT CHANGE
	*{
		box-sizing: border-box!important; // DO NOT CHANGE
	}
	ul, li{
		margin: 0;
		padding: 0;
		list-style: none;
		display: list-item;
	}
	a{

	}
	.archives-years{
		position:relative; // DO NOT CHANGE
		overflow:hidden; // DO NOT CHANGE
	}

	/**** NAVIGATION MENU / SELECT MENU *****/
	.calendar-navigation{
		position:relative;
		width:100%;
		height: 26px;
		margin-bottom: 5px;
		a, ul, div ,li{
			line-height: 26px;
			text-decoration: none!important;
		}

		// PREV/NEXT BUTTONS
		.prev-year, .next-year{
			display:block;
			position:absolute;
			width:26px;
			font-size:18px;
			text-align: center;
			color: #757575;
			&:hover{
				color: #21759b;
			}
			&.disabled{
				opacity: .4;
				cursor: default;
				text-decoration: none;				
				&:hover{
					background:none;
					color: #757575;
				}
			}
		}
		.prev-year{
			left:0;
		}
		.next-year{
			right:0;
		}

		// SELECT DROPDOWN MENU
		.menu-container{
			position: absolute;
			width: 100px;
			left: 50%;
			margin-left: -50px;
			text-align: center;
			&.months{
				width: 160px;
				margin-left: -80px;
				text-transform: capitalize;
			}
			&:hover{

				.arrow-down{
					.rounded(3px);
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
					background-color: #e6e6e6;
					background-repeat: repeat-x;
					background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
					background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
					background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
					background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
					background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
					border: 1px solid #d2d2d2;
				}
			}
			a.title{
				display:block;
				width:100%;
				&:hover{
					color:#21759b!important;
				}
				&:visited{
					color:#757575;
				}
			}
			.arrow-down{
				color: #757575;
				position: absolute;
				width: 20px;
				right: 0;
				top:0;
				cursor: pointer;
				font-size: 10px;
				border: 1px solid #fff;
				font-family: Verdana, Arial, Helvetica, sans-serif ;

				&:hover{
					color: #5e5e5e;
					background-color: #ebebeb;
					background-repeat: repeat-x;
					background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
					background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
					background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
					background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
					background-image: linear-gradient(top, #f9f9f9, #ebebeb);
				}
			}
			.menu{
				position: absolute;
				z-index: 99;
				display:none;
				width:100%;
				background: #F0F0F0;
				.rounded(3px);
				box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
				overflow: hidden;
				top:0;
				a{
					display:block;
					color: #757575;
					&:hover{
						background: #21759b;
						cursor: pointer;
						color: #fff;
					}
					&.selected{
						color: #757575;
						background: #fff;
					}
				}
			}
		}
	}

	// Month/year container. Calendar "pages".
	// DO NOT CHANGE, only background-color can be changed
	.year{
		position: absolute;
		background-color: #fff; // change this id needed
		top: 0;
		left: 0;
		margin-left: -100%;
		width: 100%;
		z-index: 0;
		.year-link{
			display: none;
		}
		&.last{
			position: relative;
		}
		&.current{
			margin-left: 0;
			z-index: 1;
		}
	}

	// Month and Day, common styles
	.month, .day{
		float: left;
		overflow: hidden;
		display: block;
		position: relative;

		background-color: #F0F0F0;
		color: #CCC;
		margin:0 3% 3% 0;
		.rounded(3px);
		.boxShadow(0, 1px, 4px, rgba(0, 0, 0, 0.2));

		// Month/day with posts
		&.has-posts{
			background-color: #757575;
			a{
				color: #FFF;
				display: block;
				width: 100%;
				height: 100%;

				&:hover{
					background-color: #21759b;
				}
			}
		}
		// last month/day of a single line
		&.last{
			margin-right: 0!important;
		}
	}

	// MONTH only styles
	.month{
		width: 22.75%; // 100%(line width) - 3%(margin-right) * 3(last one is 0) / 4(months per line)
		height: 50px;
		// Month name inside a month square
		.month-name{
			text-transform: capitalize;
			font-size: 16px;
			font-weight: 400;
			display: block;
			position: absolute;
			top: 6px;
			left: 8px;
		}
		// Contains the "0 posts" text inside a month square
		.postcount{
			display: block;
			position: absolute;
			bottom: 6px;
			right: 6px;
			// Number of posts style
			.count-number{

			}
			// Text "posts" style
			.count-text{
				font-size: 9px;
			}
		}
	}

	// DAY only styles
	.day{
		text-align: center;
		width: 11.714%!important;
		height: auto!important;
		line-height: 100%;
		padding: 5px 0;
		// Day with posts
		&.has-posts{
			padding: 0;
			a{
				padding: 5px 0!important;
				text-decoration: none;
			}
		}
		&.noday{
			background: none!important;
			box-shadow: none;
		}
		// WEEKDAY style. Has common styles with DAY
		&.weekday{
			display: inline-block;
			text-transform: uppercase;
			background: none!important;
			box-shadow: none;
			font-weight: bold!important;
			color: #666;
			font-size: 85%;
			margin: 0 3% 5px 0;
		}
	}

	// A single line of days
	.week-row{
		margin: 0;
		padding: 0;
		overflow: hidden;
		// line with weekday names
		&.weekdays{

		}
	}
}
