// Navigation
///==========
$nav-height: 30px !default;
$nav-bg-color: #c0c0c0 !default;
$nav-color: black !default;
$nav-margin-bottom: 1px !default;

// nav buttons
$nav-btn-bg: transparent !default;
$nav-btn-color: $nav-color !default;
$nav-btn-width: 30px !default;
$nav-border-radius: 3px;

$nav-btn-bg--hover: red !default;
$nav-btn-color--hover: $nav-color !default;

$nav-btn-bg--disabled: transparent !default;
$nav-btn-color--disabled: $nav-color !default;

// nav menu
$nav-menu-trigger-width: 30px !default;

// Day names
$wd-background: $nav-bg-color !default;
$wd-height: 25px !default;
$wd-margin-bottom: 1px !default;
$wd-font-color: inherit !default;
$wd-font-size: 11px  Bold !default;

// Grid
$grid-background: orange !default;

// Grid Box
// ========
$box-text-color: inherit !default;
$box-background: white !default;
// Box with posts
$box-text-color--active: white !default;
$box-background--active: grey !default;
// Box with posts on hover
$box-text-color--hover: white !default;
$box-background--hover: orange !default;

$box-gap: 1px !default;
$box-border-width: 1px !default;
$box-border-color: grey !default;
$box-border-radius: 0 !default;
$box-border: $box-border-width solid $box-border-color !default;

// Day box
$day-box-height: 30px !default;
$day-box-font-size: inherit;
$day-box-font-weight: normal;
$day-box-font-weight--active: normal;

// Month box
$month-box-height: 50px !default;
$month-name-color: $box-text-color;

$month-count-color: $box-text-color--active;
$month-count-color--hover: $box-text-color--hover;

$month-name-color: $box-text-color;

$month-name-top-margin: 5px;
$month-name-left-margin: 5px;
