@import "variables";

.arcw-weekdays {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  column-gap: $box-gap;
  grid-template-columns: repeat(7, 1fr);

  height: $wd-height;
  margin-bottom: $wd-margin-bottom;
  color: $wd-font-color;
  font-size: $wd-font-size;
  background-color: $wd-background;
}
