@import "bootstrap/bootstrap";
@import "theme_editor";
@import "theme_preview";

body {
	overflow: auto !important;
}

code {
	display: block;
}

.alek-links {
	text-align: center;

	a {
		margin: 5px;
		display: inline-block;
		vertical-align: middle;
    color: rgba(black, .9);

		&:hover {
      color: black;
		}
	}

  &__github-logo {
    height: 50px;
  }
  &__wordpress-logo {
    height: 52px;
  }
  &__alek-logo {
    height: 50px;
  }
}
