.rounded(@val){
	border-radius: @val;
}
.boxShadow(@x, @y, @dist, @color){
	-moz-box-shadow: @x @y @dist @color;
	-webkit-box-shadow: @x @y @dist @color;
	box-shadow: @x @y @dist @color;
}

/***** CALENDAR STYLE *****/

.calendar-archives.twentythirteen{
	position:relative; // DO NOT CHANGE
	width:100%; // DO NOT CHANGE
	*{
		box-sizing: border-box!important; // DO NOT CHANGE
	}
	ul, li{
		margin: 0;
		padding: 0;
		list-style: none;
		display: list-item;
	}
	a{
		text-decoration:none;
	}
	.archives-years{
		position: relative; // DO NOT CHANGE
		overflow: hidden; // DO NOT CHANGE
		background: #220E10;
	}

	/**** NAVIGATION MENU / SELECT MENU *****/
	.calendar-navigation{
		position:relative;
		width:100%;
		height: 30px!important;
		background: #e05d22; /* Old browsers */
		background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%); /* Chrome 10+, Safari 5.1+ */
		background:   linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* W3C */
		margin-bottom: 3px;
		border-bottom: 3px solid #b93207;
		.rounded(2px);
		color: #fff;
		a, ul, div ,li{
			line-height: 30px;
		}

		// PREV/NEXT BUTTONS
		.prev-year, .next-year{
			display:block;
			position:absolute;
			width:30px;
			height: 30px;
			font-size:18px;
			text-align: center;
			color: #FFF;
			.rounded(2px);
			&:hover{
				background: #ed6a31; /* Old browsers */
				background: -webkit-linear-gradient(top, #ed6a31 0%, #e55627 100%); /* Chrome 10+, Safari 5.1+ */
				background:   linear-gradient(to bottom, #ed6a31 0%, #e55627 100%); /* W3C */
				border-bottom: 3px solid #b93207;
			}
			&.disabled{
				opacity: .4;
				cursor: default;
				&:hover{
					background:none;
				}
			}
		}
		.prev-year{
			left:0;
			border-right:1px #B93207 solid;
		}
		.next-year{
			right:0;
			border-left:1px #B93207 solid;
		}

		// SELECT DROPDOWN MENU
		.menu-container{
			position: absolute;
			width: 100px;
			left: 50%;
			margin-left: -50px;
			text-align: center;
			&.months{
				width: 160px;
				margin-left: -80px;
				text-transform: capitalize;
			}
			&:hover{

				.arrow-down{
					border-left: 1px solid #B93207;
					border-right: 1px solid #B93207;
				}
			}
			a.title{
				display:block;
				width:100%;
				color: #FFF;
				&:hover{

				}
				&:visited{

				}
			}
			.arrow-down{
				color: #fff;
				position: absolute;
				width: 24px;
				height: 30px;
				right: 0;
				top:0;
				cursor: pointer;
				font-size: 9px;
				border-left: 1px solid rgba(0,0,0,0);
				border-right: 1px solid rgba(0,0,0,0);
				font-family: Verdana, Arial, Helvetica, sans-serif ;
				&:hover{
					background: #ed6a31; /* Old browsers */
					background: -webkit-linear-gradient(top, #ed6a31 0%, #e55627 100%); /* Chrome 10+, Safari 5.1+ */
					background:   linear-gradient(to bottom, #ed6a31 0%, #e55627 100%); /* W3C */
					border-bottom: 3px solid #b93207;
				}
			}
			.menu{
				position: absolute;
				z-index: 99;
				display:none;
				width:100%;
				background: #e05d22; /* Old browsers */
				background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%); /* Chrome 10+, Safari 5.1+ */
				background:   linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* W3C */
				box-shadow: #000 0 0 10px;
				.rounded(2px);
				overflow: hidden;
				top:0;
				a{
					display:block;
					color: #FFF;
					&:hover{
						background: #220E10;
						cursor: pointer;
						color: #E62B15;
					}
					&.selected{
						color: #fff;
						&:hover{
							background: none;
							color: #fff;
							text-decoration: none;
							cursor: default;
						}
					}
				}
			}
		}
	}

	// Month/year container. Calendar "pages".
	// DO NOT CHANGE, only background-color can be changed
	.year{
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -100%;
		width: 100%;
		z-index: 0;
		.year-link{
			display: none;
		}
		&.last{
			position: relative;
		}
		&.current{
			margin-left: 0;
			z-index: 1;
		}
	}

	// Month and Day, common styles
	.month, .day{
		float: left;
		overflow: hidden;
		display: block;
		position: relative;
		color:#e6402a;
		background:#3a1c1f;
		border-bottom:1px #220E10 solid;
		border-right:1px #220E10 solid;
		.rounded(3px);

		// Month/day with posts
		&.has-posts{
			//border-bottom: none;
			a{
				background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%); /* Chrome 10+, Safari 5.1+ */
				background:   linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* W3C */
				border-bottom: 3px solid #b93207;
				.rounded(3px);
				color: #FFF;
				display: block;
				width: 100%;
				height: 100%;
				&:hover{
					background: #ed6a31; /* Old browsers */
					background: -webkit-linear-gradient(top, #ed6a31 0%, #e55627 100%); /* Chrome 10+, Safari 5.1+ */
					background:   linear-gradient(to bottom, #ed6a31 0%, #e55627 100%); /* W3C */
				}
			}
		}
		// last month/day of a single line
		&.last{
			margin-right: 0!important;
		}
	}

	// MONTH only styles
	.month{
		width: 25%; // 100%(line width) - 3%(margin-right) * 3(last one is 0) / 4(months per line)
		height: 50px;
		// Month name inside a month square
		.month-name{
			text-transform: capitalize;
			font-size: 16px;
			font-weight: 400;
			display: block;
			position: absolute;
			top: 6px;
			left: 8px;
		}
		// Contains the "0 posts" text inside a month square
		.postcount{
			display: block;
			position: absolute;
			bottom: 6px;
			right: 6px;
			// Number of posts style
			.count-number{

			}
			// Text "posts" style
			.count-text{
				font-size: 9px;
			}
		}
	}

	// DAY only styles
	.day{
		text-align: center;
		width: 14.285%!important;
		height: 25px;
		line-height: 100%;
		padding: 5px 0;
		// Today
		&.today{
			background: #592b30;
			color: #fff;
			a{
				border-color: #FFF;
			}
		}
		// Day with posts
		&.has-posts{
			padding: 0;
			a{
				padding: 5px 0!important;
				text-decoration: none;
			}
		}
		&.noday{
			background: none!important;
			box-shadow: none;
			border: none;
		}
		// WEEKDAY style. Has common styles with DAY
		&.weekday{
			display: inline-block;
			text-transform: uppercase;
			background: none!important;
			box-shadow: none;
			color: #fff;
			font-size: 85%;
			border: none;
		}
	}

	// A single line of days
	.week-row{
		margin: 0;
		padding: 0;
		overflow: hidden;
		background: #220E10;
		// line with weekday names
		&.weekdays{
			margin-bottom: 3px;
		}
	}

}

/* FOR PREVIEW IN CONFIGURATION ONLY */
.settings_page_archives_calendar {
	#TB_ajaxContent {
		background-color: #220E10;
	}
}