/* Base common CSS : DON'T CHANGE */
/***** CALENDAR STYLE *****/
.calendar-archives {
  position: relative;
  width: 100%; }
  .calendar-archives * {
    box-sizing: border-box !important; }
  .calendar-archives a:focus, .calendar-archives a:active {
    outline: none !important; }
  .calendar-archives > .calendar-navigation {
    position: relative;
    display: table;
    width: 100%; }
    .calendar-archives > .calendar-navigation > .prev-year,
    .calendar-archives > .calendar-navigation > .next-year,
    .calendar-archives > .calendar-navigation > .menu-container {
      display: table-cell;
      height: 100%;
      vertical-align: middle; }
  .calendar-archives > .archives-years {
    position: relative;
    overflow: hidden; }
    .calendar-archives > .archives-years > .year {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -100%;
      width: 100%;
      z-index: 0; }
      .calendar-archives > .archives-years > .year .year-link {
        display: none; }
      .calendar-archives > .archives-years > .year.last {
        position: relative; }
      .calendar-archives > .archives-years > .year.current {
        margin-left: 0;
        z-index: 1; }

/* FOR PREVIEW IN CONFIGURATION ONLY */
.settings_page_Arrchives_Calendar_Widget #TB_ajaxContent {
  background-color: #FFFFFF; }

/** Variables **/
/*=============*/
.calendar-archives.twentythirteen {
  /** CALENDAR NAVIGATION BLOCK (top) **/
  /** CALENDAR GRID BLOCK **/ }
  .calendar-archives.twentythirteen a {
    text-decoration: none; }
  .calendar-archives.twentythirteen .calendar-navigation {
    height: 26px !important;
    color: #757575;
    margin-bottom: 5px; }
    .calendar-archives.twentythirteen .calendar-navigation > .prev-year,
    .calendar-archives.twentythirteen .calendar-navigation > .next-year {
      width: 26px;
      font-size: 18px;
      text-align: center;
      color: #757575; }
      .calendar-archives.twentythirteen .calendar-navigation > .prev-year:hover,
      .calendar-archives.twentythirteen .calendar-navigation > .next-year:hover {
        color: #21759b; }
      .calendar-archives.twentythirteen .calendar-navigation > .prev-year.disabled,
      .calendar-archives.twentythirteen .calendar-navigation > .next-year.disabled {
        opacity: .4;
        cursor: default;
        text-decoration: none; }
        .calendar-archives.twentythirteen .calendar-navigation > .prev-year.disabled:hover,
        .calendar-archives.twentythirteen .calendar-navigation > .next-year.disabled:hover {
          background: none;
          color: #757575; }
    .calendar-archives.twentythirteen .calendar-navigation > .menu-container {
      position: relative;
      height: 26px;
      padding: 0;
      text-align: center;
      text-transform: capitalize; }
      .calendar-archives.twentythirteen .calendar-navigation > .menu-container:hover {
        background-color: rgba(255, 255, 255, 0.1); }
        .calendar-archives.twentythirteen .calendar-navigation > .menu-container:hover > .arrow-down {
          border-radius: 3px;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
          border: 1px solid #d2d2d2;
          background-image: -webkit-linear-gradient(top, #f4f4f4 0%, #e6e6e6 100%);
          background-image: -o-linear-gradient(top, #f4f4f4 0%, #e6e6e6 100%);
          background-image: linear-gradient(to bottom, #f4f4f4 0%, #e6e6e6 100%);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF4F4F4', endColorstr='#FFE6E6E6', GradientType=0); }
      .calendar-archives.twentythirteen .calendar-navigation > .menu-container > a.title {
        display: block;
        height: 26px;
        line-height: 26px;
        color: #757575;
        vertical-align: middle; }
        .calendar-archives.twentythirteen .calendar-navigation > .menu-container > a.title:hover {
          color: #21759b; }
        .calendar-archives.twentythirteen .calendar-navigation > .menu-container > a.title:visited {
          color: #757575; }
      .calendar-archives.twentythirteen .calendar-navigation > .menu-container > ul, .calendar-archives.twentythirteen .calendar-navigation > .menu-container > ul > li {
        margin: 0;
        padding: 0; }
      .calendar-archives.twentythirteen .calendar-navigation > .menu-container > ul.menu {
        position: absolute;
        display: none;
        width: 100%;
        top: 0;
        overflow: hidden;
        background: #F0F0F0;
        border-radius: 3px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
        z-index: 99; }
      .calendar-archives.twentythirteen .calendar-navigation > .menu-container li {
        display: block; }
        .calendar-archives.twentythirteen .calendar-navigation > .menu-container li > a {
          display: block;
          height: 26px;
          line-height: 26px;
          color: #757575; }
          .calendar-archives.twentythirteen .calendar-navigation > .menu-container li > a:hover {
            background: #21759b;
            cursor: pointer;
            color: #FFFFFF; }
          .calendar-archives.twentythirteen .calendar-navigation > .menu-container li > a.selected {
            color: #757575; }
            .calendar-archives.twentythirteen .calendar-navigation > .menu-container li > a.selected:hover {
              text-decoration: none;
              color: #757575;
              cursor: default;
              background: none; }
      .calendar-archives.twentythirteen .calendar-navigation > .menu-container > .arrow-down {
        position: absolute;
        width: 20px;
        height: 26px;
        line-height: 26px;
        top: 0;
        right: 0;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        border: 1px solid #fff;
        font-size: 10px;
        color: #757575;
        cursor: pointer; }
        .calendar-archives.twentythirteen .calendar-navigation > .menu-container > .arrow-down:hover {
          color: #5e5e5e;
          background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
          background-image: -o-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
          background-image: linear-gradient(to bottom, #f9f9f9 0%, #ebebeb 100%);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9F9F9', endColorstr='#FFEBEBEB', GradientType=0); }
  .calendar-archives.twentythirteen > .archives-years {
    background-color: #FFFFFF; }
  .calendar-archives.twentythirteen .month, .calendar-archives.twentythirteen .day {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    color: #CCC;
    margin: 0 3% 3% 0;
    background-color: #F0F0F0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
    .calendar-archives.twentythirteen .month.has-posts, .calendar-archives.twentythirteen .day.has-posts {
      background-color: #757575; }
      .calendar-archives.twentythirteen .month.has-posts a, .calendar-archives.twentythirteen .day.has-posts a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        color: #FFFFFF; }
        .calendar-archives.twentythirteen .month.has-posts a:hover, .calendar-archives.twentythirteen .day.has-posts a:hover {
          background-color: #21759b; }
    .calendar-archives.twentythirteen .month.last, .calendar-archives.twentythirteen .day.last {
      margin-right: 0 !important; }
  .calendar-archives.twentythirteen .month {
    width: 22.75%;
    height: 50px; }
    .calendar-archives.twentythirteen .month .month-name {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      display: block;
      position: absolute;
      top: 6px;
      left: 8px; }
    .calendar-archives.twentythirteen .month .postcount {
      display: block;
      position: absolute;
      right: 6px;
      bottom: 6px; }
      .calendar-archives.twentythirteen .month .postcount .count-text {
        font-size: 9px; }
  .calendar-archives.twentythirteen .day {
    width: 11.714% !important;
    height: 25px;
    padding: 5px 0;
    text-align: center;
    line-height: 100%; }
    .calendar-archives.twentythirteen .day.has-posts {
      padding: 0; }
      .calendar-archives.twentythirteen .day.has-posts a {
        padding: 5px 0 !important;
        text-decoration: none; }
    .calendar-archives.twentythirteen .day.noday {
      border: none;
      box-shadow: none;
      background: none !important; }
    .calendar-archives.twentythirteen .day.weekday {
      display: inline-block;
      margin: 0 3% 5px 0;
      border: none;
      color: #666666;
      text-transform: uppercase;
      font-size: 85%;
      font-weight: bold;
      box-shadow: none;
      background: none !important; }
  .calendar-archives.twentythirteen .week-row {
    margin: 0;
    padding: 0;
    overflow: hidden; }

/*# sourceMappingURL=twentytwelve.css.map */
