.arcw.themer.zone
{

}

.themer-container
{
	width: 100%;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	border-radius: 1px;
	background: #fff;
	position: relative;
}
.themer-bg
{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	overflow: 0;
}

#post-body-content.prewiever{
	float: right;
	margin-right: -300px;
}

@media only screen and (max-width:850px) {

    #post-body-content.prewiever {
        margin-right: 0;
    }
}
/*.themer-bg span{
	display: block;
	height: 20px;
	width: 20px;
	border: 2px #333 solid;
}

.themer-bg span.white{
	background-color: #fff;
}
.themer-bg span.light{
	background-color: #999;
}
.themer-bg span.white{
	background-color: #000;
}*/